@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
}
.conteiner {
    width: 336px;
    height: 100%;
    /* margin-left: 492px;
    margin-top: 249px; */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}
.up {
    width: 334px;
    height: 27px;
    border-radius: 10px 10px 0px 0px;
    background: #FFDC40;
}

h1 {
    width: 198px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}
.box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 35px;
}
.sort {
    margin-bottom: 6px;
    margin-right: 28px;
    width: 25px;
    height: 15px;
}

.block-block {
    display: flex;
    flex-direction: column;
    width: 286px;
    max-height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    overflow: auto;
    /* margin-bottom: 50px; */
    
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    /* border: 1px solid red; */

}

.block {
    display: flex;
    width: 286px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 14px;
    /* border: 1px solid red; */
}

.left-block {
    width: 15%;
    height: 100%;
    /* background-color: green; */
    border-radius:  10px 0px 0px 10px;
}
.center-block {
    width: 100%;
    height: 100%;
    /* background-color: blue */
}
.right-block {
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    border-radius:  0px 10px 10px 0px;
}
.input {
    width: 199px;
    height: 20px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    color: #000000;
}
.svg-one {
    fill: #C4C4C4;
}
.svg-one:hover {
    fill: #000000;
    cursor: pointer;
}

.svg-two {
    fill: #C4C4C4;
    display: none;
}
.svg-two:hover {
    fill: #000000;
    cursor: pointer;
}
/* .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
} */

.close {
    margin-left: 4px;
    height: 19px;
    width: 19px;
    border: 1px solid #FA6900;
    border-radius: 50%;
    position: relative;
}

.close:after {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    margin-left: 3px;
    right: 0;
    content: "\2716"; /* use the hex value here... */
    font-size: 15px; 
    color: #000;
    line-height: 20px;
    text-align: center;
}

.block-button {
    display: flex;
    width: 150px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 19px;
    border-radius: 71px;
    background: #833AE0;
}

#button {
    padding: 0px;
    width: 150px;
    height: 42px;
    background: #833AE0;
    border-radius: 71px;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    border: 0px;
}
#button:hover {
    box-shadow: 0 0 30px 8px rgba(0, 3, 175, 0.432);
    cursor: pointer;
}
#button:before {
    width: 42px;
    height: 42px;
    content: url(/image/Group\ 33.svg);
    margin-right: 14px;
}
.todos {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* border: 1px solid red; */
}
.li {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.delet {
    fill: none;
}
.delet:hover {
    cursor: pointer;
    fill: #833AE0;
    stroke: #833AE0;
}